* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto";
}

.head {
  min-height: 100vh;
  background-image: url(https://www.fonstola.ru/pic/201311/1920x1080/fonstola.ru_136734.jpg);
}

.home {
  display: inline-flex;
  color: white;
}

@media (max-width: 1280px) {
  .part {
    flex-wrap: wrap;
  }
  .home {
    flex-wrap: wrap;
  }
  .piece {
    margin-left: 20px;
  }
  .contact {
    margin-right: 20px;
  }
  .insert {
    font-size: 10px;
  }
}
@media (max-width: 1522px) {
  .head p {
    font-size: 12px;
  }
  .contact {
    font-size: 14px;
  }
}
.part {
  display: flex;
  align-items: center;
}

.black {
  background-color: rgba(0, 0, 0, 0.5);
}

.logo {
  display: flex;
  align-items: center;
  height: 80px;
}

.icon {
  height: 30px;
  width: 30px;
}

.head button {
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0);
}

.head p {
  display: flex;
  align-items: center;
}

.nothing {
  width: 10px;
  height: 20px;
}

.hammer {
  margin-left: 10px;
  margin-top: 10px;
  height: 40px;
  width: 40px;
}

.box {
  margin-left: 20px;
  height: 60px;
  width: 60px;
  background-color: rgb(250, 180, 0);
}

.insert {
  display: flex;
  width: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.button {
  height: 50px;
  align-items: center;
  width: 5vw;
}
.button:hover {
  transition: 0.4s;
  background-color: rgba(0, 0, 0, 0.35);
}
.button:active {
  transition: 0.1s;
  color: rgb(139, 169, 218);
}

.base {
  color: white;
  font-family: "Roboto";
}
.base h1 {
  margin-top: 50px;
  font-size: 80px;
}
.base h2 {
  font-size: 30px;
}
.base h3 {
  font-size: 20px;
}
.base h4 {
  font-size: 20px;
  font-weight: 300;
}

.yellow {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  width: 10vw;
  margin-left: 40px;
  background-color: rgb(250, 180, 0);
}
.yellow:hover {
  background-color: #946b00;
}
.yellow:active {
  background-color: #ffbd15;
}

.object {
  margin-top: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 180, 0);
  height: 50px;
  width: 150px;
}
.object:hover {
  background-color: #946b00;
}
.object:active {
  background-color: #ffbd15;
}

.house {
  font-family: "Roboto";
  width: 100vw;
  height: 100px;
  text-align: center;
}
.house h1 {
  font-weight: 700;
  margin-top: 20px;
}

.draiman {
  height: 370px;
}

.info h2 {
  font-weight: 700;
}
.info p {
  color: rgb(0, 0, 0);
}

.line {
  text-align: center;
}

.color {
  color: rgb(250, 180, 0);
}

.material p {
  margin-top: 180px;
  color: rgb(209, 92, 46);
  font-weight: bolder;
}
.material img {
  position: absolute;
  z-index: -1;
}

.case {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 40px;
  position: relative;
  width: auto;
  height: 450px;
  overflow: hidden;
  background-image: url(https://img.freepik.com/premium-photo/blaze-fire-flame-background_133982-620.jpg?w=360);
}
.case h3, .case p {
  margin-left: 20px;
  align-self: flex-start;
  color: black;
  z-index: 1;
  position: relative;
}
.case h3 {
  font-weight: bolder;
}
.case p {
  font-size: 20px;
}
.case a {
  text-decoration: none;
}
.case button {
  color: white;
  border: none;
  z-index: 1;
  position: relative;
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(250, 180, 0);
  height: 50px;
  width: 200px;
}
.case button:hover {
  background-color: #946b00;
}
.case button:active {
  background-color: #ffbd15;
}
.case span {
  font-weight: bolder;
}

.case::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 180px;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-self: center;
}

.case::after {
  content: "";
  position: absolute;
  inset: 20px;
  background-color: white;
}

.logotipy {
  width: 220px;
  height: 80px;
}

.paint {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 100px;
  background-color: black;
  z-index: 2;
  margin-bottom: 20px;
}

.flex {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 400px;
  width: 89%;
}

.text span {
  font-weight: bolder;
  color: rgb(250, 180, 0);
}

.fon {
  width: 100vw;
  height: 70vh;
  background-image: url(https://celes.club/uploads/posts/2022-05/1653267539_1-celes-club-p-nezhnii-nebesnii-fon-krasivie-1.jpg);
}

.circle {
  display: flex;
  align-items: flex-start;
  width: 100vw;
  height: 15vh;
  background-color: white;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.build {
  width: 90%;
  height: 300px;
  background-color: rgb(255, 255, 255);
}
.build img {
  width: 100%;
}
.build h4 {
  margin-left: 10px;
}
.build a {
  color: rgb(250, 180, 0);
  margin-left: 33%;
}
.build p {
  margin-left: 10px;
  font-size: 12px;
}

.build:hover {
  box-shadow: 0 1px 8px 4px rgba(0, 0, 0, 0.3);
  transition: 0.4s;
}

.block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 330px;
  background-color: rgba(0, 0, 0, 0.01);
}

.answer {
  height: 40px;
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}
.answer h4 {
  margin-top: 5px;
  font-size: 18px;
}

.object-1 {
  margin-left: 20px;
  height: 40px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.object-1 button {
  width: 320px;
  height: 40px;
  background-color: rgb(250, 180, 0);
  color: white;
  border: none;
}
.object-1 button:hover {
  background-color: #946b00;
}
.object-1 button:active {
  background-color: #ffbd15;
}

.grey {
  z-index: 1;
  padding-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 450px;
  background-color: rgb(110, 110, 110);
  color: white;
  text-align: center;
}
.grey button {
  font-size: 16px;
  display: flex;
  justify-content: center;
  background-color: rgb(250, 180, 0);
  color: white;
}
.grey button:hover {
  background-color: #946b00;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.5);
  transition: 0.4s;
}
.grey button:active {
  background-color: #ffbd15;
}
.grey p {
  margin-top: 4px;
  margin-left: 30px;
  margin-right: 30px;
  font-weight: 500;
  z-index: 1;
}

.call {
  color: rgb(250, 180, 0);
}

.picture {
  margin-left: 80px;
  margin-top: 100px;
  scale: 181%;
  width: 100%;
}

.dot span {
  color: rgb(250, 180, 0);
}

.form-input, .form-button {
  width: 100%;
  height: 30px;
  scale: 120%;
  margin-top: 12px;
  border: none;
}

.form-input {
  outline: none;
}

.black-box {
  padding-top: 20px;
  width: 100vw;
  height: 280px;
  background-color: rgb(110, 110, 110);
  color: white;
}

.down button {
  border: none;
  background-color: transparent;
  color: white;
}

.down {
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=build2.css.map */